body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 110%;
}

header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
}

header h1 {
  display: inline-block;
  padding-left: 65px;
  background: url(images/teleportal-logo-128.png) left center no-repeat;
  background-size: 1em;
}

header h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  margin-top: 0;
}

main {
  clear: left;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  margin: 0.5em 0;
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.6em;
  margin: 1em 0 0.5em 0;
}

.alpha {
  vertical-align: super;
  font-size: 0.3em;
  color: #f24c4c;
}

a,
a:active,
a:visited,
a:hover {
  color: #000;
}

.xr-types {
  padding-left: 5px;
}

.xr-types span {
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
  font-size: 0.5em;
  font-weight: bold;
  padding: 3px;
}

.attribution {
  color: #666;
  font-size: 0.85em;
  margin: 0.5em 0 1em;
}

.view {
  margin-bottom: 2em;
  padding: 5px 0;
}

.view a {
  border: 1px solid black;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}

img.thumb {
  max-width: 100%;
}

.scenes {
  display: grid;
  grid-column-gap: 40px;
}

@media (min-width: 600px) {
  .scenes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .scenes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.topics span {
  color: #666;
  border: 1px solid #aaa;
  font-size: 0.8em;
  padding: 4px;
}
